<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Device orientation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="full">
    @let deviceOrientationData = deviceOrientation();
    <!--  -->
    @if (deviceOrientationData ) {
    <ion-item-divider>
      <ion-label>Orientation </ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label>
        <h2>Azimuth</h2>
        <p>{{ deviceOrientationData.orientation.azimuth| number : '1.2-2' }}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Pitch</h2>
        <p>{{ deviceOrientationData.orientation.pitch | number : '1.2-2' }}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Roll</h2>
        <p>{{ deviceOrientationData.orientation.roll | number : '1.2-2' }}</p>
      </ion-label>
    </ion-item>

    <ion-item-divider>
      <ion-label>Fused Orientation</ion-label>
    </ion-item-divider>
    @if (deviceOrientationData.fused) {
    <ion-item>
      <ion-label>
        <h2>Heading</h2>
        <p>{{ deviceOrientationData.fused.heading | number : '1.2-2' }}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Heading Error</h2>
        <p>{{ deviceOrientationData.fused.headingError | number : '1.2-2' }}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Heading Accuracy</h2>
        <p>{{ headingAccuracy() }}</p>
      </ion-label>
    </ion-item>
    } @else if (deviceOrientationData.magneticFieldAccuracy !== undefined) {
    <ion-item>
      <ion-label>
        <h2>Magnetic Field Accuracy</h2>
        <p>{{ magneticFieldAccuracy() }}</p>
      </ion-label>
    </ion-item>
    } @else {
    <ion-item>
      <ion-label>
        <h2>No Fused/Accuracy Data</h2>
      </ion-label>
    </ion-item>
    }

    <ion-item-divider>
      <ion-label>Attitude</ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label>
        <h2>Quaternion</h2>
        <p>qx: {{ deviceOrientationData.attitude?.quaternion?.[0] | number : '1.2-2' }}</p>
        <p>qy: {{ deviceOrientationData.attitude?.quaternion?.[1] | number : '1.2-2' }}</p>
        <p>qz: {{ deviceOrientationData.attitude?.quaternion?.[2] | number : '1.2-2' }}</p>
        <p>qw: {{ deviceOrientationData.attitude?.quaternion?.[3] | number : '1.2-2' }}</p>
      </ion-label>
    </ion-item>
    } @else {
    <ion-item>
      <ion-label>
        <h2>Listening for orientation data...</h2>
      </ion-label>
    </ion-item>
    }
  </ion-list>
</ion-content>
